.header_manga{/*il reste le meme code sur class .header mais nous ajoutons seulement les modifications sur .header_manga pour voir sur manga1.html*/ 
    height: 380px;
}
 
.header_manga1 .header_texture{ /*f .header_manga sibler liya .header_texture o7na dima f header lawla donc nous ajoutons seulement les modification que ne veux ajouter dans cette manga1.html*/  
    background: url('../images/image\ 3.png') center no-repeat;
    background-size: cover;
     width: 100%;
    height: 100%;
    position: absolute;/* Un élément avec position: absolute;est positionné par rapport à l'ancêtre positionné le plus proche (au lieu d'être positionné par rapport à la fenêtre, comme fixe).*/
    top: 0;left: 0;
    z-index: 1;/*hadi bax nt7kmo wash iban fog ola lta7t*/
    opacity: 0.6;/*color dyl image*/
 }
 .header_manga2 .header_texture{ /*f .header_manga sibler liya .header_texture o7na dima f header lawla donc nous ajoutons seulement les modification que ne veux ajouter dans cette manga1.html*/  
    background: url('../images/image\ 1.png') center no-repeat;
    background-size: cover;
     width: 100%;
    height: 100%;
    position: absolute;/* Un élément avec position: absolute;est positionné par rapport à l'ancêtre positionné le plus proche (au lieu d'être positionné par rapport à la fenêtre, comme fixe).*/
    top: 0;left: 0;
    z-index: 1;/*hadi bax nt7kmo wash iban fog ola lta7t*/
    opacity: 0.6;/*color dyl image*/
 }
 .header_manga3 .header_texture{ /*f .header_manga sibler liya .header_texture o7na dima f header lawla donc nous ajoutons seulement les modification que ne veux ajouter dans cette manga1.html*/  
    background: url('../images/image\ 2.jpg') center no-repeat;
    background-size: cover;
     width: 100%;
    height: 100%;
    position: absolute;/* Un élément avec position: absolute;est positionné par rapport à l'ancêtre positionné le plus proche (au lieu d'être positionné par rapport à la fenêtre, comme fixe).*/
    top: 0;left: 0;
    z-index: 1;/*hadi bax nt7kmo wash iban fog ola lta7t*/
    opacity: 0.6;/*color dyl image*/
 }
 .manga_view-container{
     width:60%;
     margin: auto;
     padding-top: 30px;
 }
 .manga_view-title{
     font-weight: 700;
     font-size: 30px;
     margin: 0;

 }
 .manga_view-subtitle{
     font-weight: 400;
     margin: 0;
     padding: 0;
     font-size: 15px;
     font-style: italic;
     opacity: 0.8;
 }
 .manga_view-content{
     /* padding-top: 10px; */
     text-align: justify;
     font-weight: 300;
     padding-bottom: 30px;
     font-size: 17px;
     line-height: 28px;
 }